[Desktop Entry]
Version=1.0
Type=Application
Name=Calendar Google Out
Icon=/home/dalem/Downloads/pycharm-community-3.4.1/bin/pycharm.png
Exec="/home/dalem/PycharmProjects/calGOut/gcalcli.py" %f
Comment=Extract stuff from your Google Calendars
Categories=Office;Calendar;
Terminal=false
