# C:\Users\dalem\workspace\calGOut>\Python27\Scripts\pip.exe install -r requirements.txt

#python=2 # google-api-python-client v3 segoogle-api-python-clientems requires Python2
#apt-get install python-tk
dateutils
python-dateutil # required by gcalcli.py
pytz # required by gcalcli.py
gflags-multibool
google-api-python-client # google-api-python-client v3
#pip install --upgrade google-api-python-client
httplib2

# from urllib.parse import urlencode ImportError: No module named parse
# "pip install"  "from urllib.parse import urlencode"

parse

# apt-get install python-tk python3-tk

# dalem@Bubbles4:~$ pip install tkinter
# Downloading/unpacking tkinter
#   Could not find any downloads that satisfy the requirement tkinter
# Cleaning up...
# No distributions at all found for tkinter
# Storing debug log for failure in /tmp/tmp14jNmS

# dalem@Bubbles4:~$ pip install Tkinter
# Downloading/unpacking Tkinter
#   Could not find any downloads that satisfy the requirement Tkinter
# Cleaning up...
# No distributions at all found for Tkinter
# Storing debug log for failure in /tmp/tmprspa3G

