# C:\Users\dalem\workspace\calGOut>\Python27\Scripts\pip.exe install -r requirements.txt

#python=2 for google-api-python-client
# I wonder if this is the proper syntax for describing the Python version?
#python>=3 # Nope, just know that Python3 is required.
# But google-api-python-client v3 segoogle-api-python-clientems to require Python2!
dateutils
python-dateutil # required by gcalcli.py
pytz # required by gcalcli.py
gflags-multibool
oauth2client==1.4.12 # later versions don't have ".run".:w

google-api-python-client
#pip install --upgrade google-api-python-client
httplib2

# from urllib.parse import urlencode ImportError: No module named parse
# "pip install"  "from urllib.parse import urlencode"

parse

# apt-get install python-tk python3-tk

# dalem@Bubbles4:~$ pip install tkinter
# Downloading/unpacking tkinter
#   Could not find any downloads that satisfy the requirement tkinter
# Cleaning up...
# No distributions at all found for tkinter
# Storing debug log for failure in /tmp/tmp14jNmS

# dalem@Bubbles4:~$ pip install Tkinter
# Downloading/unpacking Tkinter
#   Could not find any downloads that satisfy the requirement Tkinter
# Cleaning up...
# No distributions at all found for Tkinter
# Storing debug log for failure in /tmp/tmprspa3G

